<ion-toolbar>

  <ion-buttons class="ion-justify-content-center">
    <ion-button (click)="goNewTour()">
      <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="goHome()">
      <ion-title size="small">Home</ion-title>
    </ion-button>
    <!--show tracking option only if tracking in remoteConfig is enabled-->
    <ion-button *ngIf="trackingEnabled" (click)="goTracking()">
      <ion-title size="small">Tracking</ion-title>
    </ion-button>
    <ion-button fill="clear" (click)="signOut()">
      <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-toolbar>
