<ion-header>
  <ion-toolbar>
    <ion-title>Neue Tour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Tour</ion-label>
      <ion-input type="text" [(ngModel)]="name" placeholder="Bezeichnung für Tour eingeben"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Datum</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="date" placeholder="Datum eingeben"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Uhrzeit Start</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="startTime" (ngModelChange)="calculateDuration()"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Uhrzeit Ende</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="endTime" (ngModelChange)="calculateDuration()"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Distanz <span class="label-description">[km]</span></ion-label>
      <ion-input type="number" [(ngModel)]="distance" placeholder="Distanz in Kilometer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bergauf<span class="label-description">[m]</span></ion-label>
      <ion-input type="number" [(ngModel)]="altitudeUp" placeholder="Höhenmeter bergauf in Metern"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bergab<span class="label-description">[m]</span></ion-label>
      <ion-input type="number" [(ngModel)]="altitudeDown" placeholder="Höhenmeter bergab in Metern"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batteriestatus Start<span class="label-description">[%]</span></ion-label>
      <ion-input type="number" [(ngModel)]="batteryStart" (change)="setBatteryConsumption()" placeholder="Ladezustand in Prozent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batteriestatus Ende<span class="label-description">[%]</span></ion-label>
      <ion-input type="number" [(ngModel)]="batteryEnd" (change)="setBatteryConsumption()" placeholder="Ladezustand in Prozent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batterie Verbrauch <span class="label-description">[%]</span></ion-label>
      <p>{{ batteryConsumption }}</p>
    </ion-item>
    <ion-item *ngIf="positions">
      <ion-label position="floating">Getrackte Positionen<span class="label-description">[Anzahl]</span></ion-label>
      <p>{{ positions.length }}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" color="danger" fill="solid" (click)="discardTour()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Löschen
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" fill="solid" (click)="saveTour()">
        <ion-icon name="save" slot="start"></ion-icon>
        Speichern
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>
