<ion-header>
  <ion-toolbar>
    <ion-title>Neue Tour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #newTourForm="ngForm">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Tour</ion-label>
      <ion-input type="text" [(ngModel)]="name" placeholder="Bezeichnung für Tour eingeben"  #inputName="ngModel" name="name" required></ion-input>
      <span *ngIf="inputName.touched && inputName.invalid" class="errors">Tourbezeichnung erforderlich!</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Datum</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="date" placeholder="Datum eingeben" #inputDate="ngModel" name="date" required></ion-datetime>
      <span *ngIf="inputDate.touched && inputDate.invalid" class="errors">Datum erforderlich!</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Uhrzeit Start</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="startTime" (ngModelChange)="calculateDuration()" #inputStartTime="ngModel" name="startTime" required></ion-datetime>
      <span *ngIf="inputStartTime.touched && inputStartTime.invalid" class="errors">Startzeit erforderlich!</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Uhrzeit Ende</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="endTime" (ngModelChange)="calculateDuration()" #inputEndTime="ngModel" name="endTime" required></ion-datetime>
      <span *ngIf="inputEndTime.touched && inputEndTime.invalid" class="errors">Endzeit erforderlich!</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Distanz <span class="label-description">[km]</span></ion-label>
      <ion-input type="number" [(ngModel)]="distance" placeholder="Distanz in Kilometer" #inputDistance="ngModel" name="distance" required></ion-input>
      <span *ngIf="inputDistance.touched && inputDistance.invalid" class="errors">Distanz erforderlich!</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bergauf<span class="label-description">[m]</span></ion-label>
      <ion-input type="number" [(ngModel)]="altitudeUp" placeholder="Höhenmeter bergauf in Metern" #inputAltitudeUp="ngModel" name="altitudeUp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bergab<span class="label-description">[m]</span></ion-label>
      <ion-input type="number" [(ngModel)]="altitudeDown" placeholder="Höhenmeter bergab in Metern" #inputAltitudeDown="ngModel" name="altitudeDown"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batteriestatus Start<span class="label-description">[%]</span></ion-label>
      <ion-input type="number" [(ngModel)]="batteryStart" (change)="setBatteryConsumption()" placeholder="Ladezustand in Prozent" #inputBatteryStart="ngModel" name="batteryStart"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batteriestatus Ende<span class="label-description">[%]</span></ion-label>
      <ion-input type="number" [(ngModel)]="batteryEnd" (change)="setBatteryConsumption()" placeholder="Ladezustand in Prozent" #inputBatteryEnd="ngModel" name="batteryEnd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batterie Verbrauch <span class="label-description">[%]</span></ion-label>
      <p>{{ batteryConsumption }}</p>
    </ion-item>
    <ion-item *ngIf="positions">
      <ion-label position="floating">Getrackte Positionen<span class="label-description">[Anzahl]</span></ion-label>
      <p>{{ positions.length }}</p>
    </ion-item>
  </ion-list>
  </form>
</ion-content>

<ion-footer>

  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" color="danger" fill="solid" (click)="discardTour()" type="button">
        <ion-icon name="trash" slot="start"></ion-icon>
        Löschen
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" fill="solid" (click)="saveTour()" *ngIf="newTourForm.valid">
        <ion-icon name="save" slot="start"></ion-icon>
        Speichern
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>
