<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/new-tour" expand="full" color="secondary"
    >Neue Tour</ion-button
  >
  <ion-button routerLink="/overview-tours" expand="full" color="primary"
    >Tourenübersicht</ion-button
  >
  <ion-button routerLink="/tracking" expand="full" color="tertiary"
    >Tracking</ion-button
  >



</ion-content>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>

