<ion-header>
  <ion-toolbar>
    <ion-title>Tour Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tour</ion-label>
      <ion-input type="text" [(ngModel)]="tour.name" placeholder="Bezeichnung für Tour eingeben"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Datum</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="tour.date" placeholder="Datum eingeben"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dauer<span class="label-description">[hh:mm]</span></ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" display-timezone="utc" [(ngModel)]="duration"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Distanz<span class="label-description">[km]</span></ion-label>
      <ion-input type="number" [(ngModel)]="tour.distance" placeholder="Distanz in Kilometer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bergauf<span class="label-description">[m]</span></ion-label>
      <ion-input type="number" [(ngModel)]="tour.altitudeUp" placeholder="Höhenmeter bergauf in Metern"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bergab<span class="label-description">[m]</span></ion-label>
      <ion-input type="number" [(ngModel)]="tour.altitudeDown" placeholder="Höhenmeter bergab in Metern"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Batterie Verbrauch<span class="label-description">[%]</span></ion-label>
      <ion-input type="text" [(ngModel)]="tour.batteryConsumption" placeholder="Verbrauch in Prozent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Positionen<span class="label-description"></span></ion-label>
      <ion-input type="text" [ngModel]="tour.positions?.length ?? 0" placeholder="" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" color="danger" fill="solid" (click)="deleteTour()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Löschen
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" fill="solid" (click)="updateTour()">
        <ion-icon name="save" slot="start"></ion-icon>
        Speichern
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-footer>
  <app-menu></app-menu>
</ion-footer>
